body {
    font-family: sans-serif;
    background: #0f172a;
    color: #e5e7eb;
    padding: 20px;
}

h1 {
    text-align: center;
}

section {
    background: #1e293b;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
}

input {
    display: block;
    margin: 5px 0;
    padding: 8px;
    width: 100%;
}

button {
    padding: 8px;
    background: #22c55e;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

pre {
    background: black;
    padding: 10px;
    margin-top: 20px;
    overflow-x: auto;
}